/*--------------------------------------------------------------
My grid
--------------------------------------------------------------*/

.gridContainer {
    display: grid;
    grid-template-columns: 50% 50%;
}

.gridContainerFractions {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridContainerMinMax {
    display: grid;
    grid-template-rows: minmax(50px, auto);
    grid-template-columns: auto auto;
}

.gridContainerRepeat {
    display: grid;
    grid-template-columns: repeat(3, 1fr 7em);
}


/* Manual position items */

.gridSampleManuallyItemPosition {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: auto 1fr 3fr;
}

.mastheadManualPosition {
    /* item will be placed in column between 2 and 4 and in row between 2 and 3 */
    grid-column: 2/4;
    grid-row: 2/3;
}


/* Implicit lines */

.gridImplicitLines {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: auto 1fr 3fr;
}

.main-content-implicit-line {
    grid-column: 1/4;
    grid-row: 4;
}


/* Grid Areas */

.gridAreas {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto 1fr 3fr;
    grid-template-areas: "title title title" "main masthead masthead" "main sidebar footer";
}

.masthead-gridarea {
    grid-area: masthead;
}

.page-title-gridarea {
    grid-area: title;
}

.main-content-gridarea {
    grid-area: main;
}

.sidebar-gridarea {
    grid-area: sidebar;
}

.footer-content-gridarea {
    grid-area: footer;
}


/* responsive grid areas */


/* This will apply bellow 600px */

@media (max-width: 600px) {
    .gridAreasResponsive {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 2fr 1fr 1fr;
        grid-template-areas: "title title" "main main" "masthead sidebar" "footer footer";
    }
}


/* This will apply for 601px or more */

@media (min-width: 601px) {
    .gridAreasResponsive {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows: auto 1fr 3fr;
        grid-template-areas: "title title title" "main masthead masthead" "main sidebar footer";
    }
}


/* responsive without media queries */

.responsiveGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

.site {
    margin: 1em;
}

.masthead,
.page-title,
.main-content,
.sidebar,
.footer-content,
.mastheadManualPosition,
.main-content-implicit-line,
.masthead-gridarea,
.page-title-gridarea,
.main-content-gridarea,
.sidebar-gridarea,
.footer-content-gridarea {
    margin-bottom: 1em;
    padding: 1em;
    color: white;
}

.masthead,
.masthead-gridarea {
    background-color: #b46ae3;
}

.page-title,
.page-title-gridarea {
    background-color: #51a7fa;
}

.main-content,
.main-content-gridarea {
    background-color: #70bf40;
}

.sidebar,
.sidebar-gridarea {
    background-color: #f49018;
}

.footer-content,
.footer-content-gridarea {
    background-color: #0265c0;
}

.mastheadManualPosition {
    background-color: #b46ae3;
}

.main-content-implicit-line {
    background-color: #70bf40;
}

.masthead-resp {
    background-color: #b46ae3;
    width: 300px;
}

.page-title-resp {
    background-color: #51a7fa;
    width: 300px;
}

.main-content-resp {
    background-color: #70bf40;
    width: 300px;
}

.sidebar-resp {
    background-color: #f49018;
    width: 300px;
}

.footer-resp {
    background-color: #0265c0;
    width: 300px;
}